@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --coraline-tunnel-light-purple: #824d9a;
  --coraline-tunnel-dark-purple: #221327;

  --coraline-sky-dark: #010811;
  --coraline-sky-light: #05273d;

  --coraline-sofa-light-red: #ab0013;
  --coraline-sofa-dark-red: #500913;

  --coraline-table-light-green: #73a12b;
  --coraline-table-dark-green: #1d3d06;

  --coraline-bug-light-blue: #21e3d1;
  --coraline-bug-dark-blue: #043242;
}

:root {
  --color-text: var(--coraline-tunnel-light-purple);
  --color-text-shadow: var(--coraline-tunnel-dark-purple);
}

@property --color-background-top {
  syntax: '<color>';
  initial-value: #010811;
  inherits: false;
}
@property --color-background-bottom {
  syntax: '<color>';
  initial-value: #05273d;
  inherits: false;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  text-shadow: 0.15rem 0.15rem 0 var(--color-text-shadow);
  background: linear-gradient(
    to bottom,
    var(--color-background-top),
    var(--color-background-bottom)
  );
  line-height: 1.6;
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition:
    --color-background-top 4s,
    --color-background-bottom 4s,
    color 4s,
    text-shadow 4s;
}
