@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --coraline-tunnel-light-purple: #824d9a;
  --coraline-tunnel-dark-purple: #221327;

  --coraline-sky-dark: #010811;
  --coraline-sky-light: #05273d;
}

:root {
  --color-background: linear-gradient(
    to bottom,
    var(--coraline-sky-dark),
    var(--coraline-sky-light)
  );

  --color-text: var(--coraline-tunnel-light-purple);
  --color-text-shadow: var(--coraline-tunnel-dark-purple);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  text-shadow: 0.15rem 0.15rem 0 var(--color-text-shadow);
  background: var(--color-background);
  line-height: 1.6;
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
